html, body {
    height: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    background: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-size: 600px;
}

.root {
    display: flex;
    min-height: 100%;
}

* {
    box-sizing: border-box;
}

ul, ol {
    padding-left: 1em;
}

ul {
    list-style-type: disc;
}

ol {
    margin: 1em 0;
    list-style-type: decimal;
}

h1 {
    margin: 0 0 1em;
    font-size: 28px;
}

p {
    margin: 0.5em 0;
}

a {
    color: royalblue;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60%;

    .messages {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2em;
        overflow-y: auto;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1em;
        background-color: #f0f0f0;
    }

    input {
        padding: 1em;
        border: 0 !important;
        border-radius: 50px;
        font-size: inherit;
        outline: none;
    }
}

.me,
.friend {
    margin: 0;
    padding: 0.3em 0.5em 0.2em;
    border-radius: 5px;

    span {
        display: block;
        color: #777;
        font-size: 0.7em;
        text-align: right;
    }
}


.me + .friend,
.friend + .me {
    margin-top: 1em;
}

.me + .me,
.friend + .friend {
    margin-top: 0.5em;
}

.me {
    align-self: flex-end;
    margin-left: 2em;
    background: #d9fed2;
}

.friend {
    align-self: flex-start;
    margin-right: 2em;
    background: white;
}

aside {
    border-left: 1px solid lightgray;
    flex-shrink: 1;
    padding: 2em;
    background-color: #fff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}